{% extends 'base.html.twig' %}

{% block title 'Se connecter' %}

{% block body %}
    <form action="{{ path('login') }}" method="post">
    <div class="form-group">
    <label for="user"></label>
    </div>
    </form>
{% endblock %}