{% extends "base.html.twig" %}

{% block body %}

<div class="container mt-4 bg-greeny">
    <h1 class="font-italic">Informations Proprio</h1>
    {{ include ('/admin/owner/_form.html.twig', {form: form, button: 'Enregistrer'}) }}

</div>

{% endblock %}
