{% extends "base.html.twig" %}
{% block body %}
<div class="jumbtoron text-center">

<h1>bienvenue sur la home</h1>
<p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quos sequi atque ullam obcaecati soluta non totam, expedita facilis modi quae maxime accusantium, blanditiis harum labore provident aliquid, voluptate itaque ad.
Expedita voluptatem placeat nulla exercitationem cum vel necessitatibus, quas vitae aliquam nobis, numquam voluptatibus provident? Temporibus delectus, quis rem quaerat ut quae cumque itaque a tenetur commodi, aspernatur in magni?
Possimus excepturi quidem optio adipisci aliquam esse unde consequuntur dignissimos autem molestias! Eos odio quasi incidunt repellendus. Dolores dignissimos molestiae, delectus quas obcaecati, aut tempore porro reiciendis eius architecto iure.
Commodi iste ratione animi cupiditate, dolore porro neque velit ipsam soluta cumque accusamus illo quia praesentium nam molestias molestiae, nemo a mollitia necessitatibus alias error perferendis maiores veritatis delectus. Labore.
Exercitationem quis iure voluptatem dolorum qui tenetur animi minus officiis quasi error voluptate dolorem ea impedit sit, omnis, optio odit illo modi fugit iusto, quod consequuntur. Harum sunt ad iure!</p>
</div>
<div class="container">
</div>
{% endblock %}