{% extends 'base.html.twig' %}

{% block title 'Agence DI' %}

{% block body %}
 <div class="jumbtoron text-center">
 <h1>bienvenue sur la home</h1>
 <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed ipsam repellat nam labore dolore ad natus explicabo vero velit ea deleniti eveniet ipsa, architecto nihil.</p>

</div>
<div class="container">
<h2>Les derniers biens</h2>
<div class="row flex">
{% for property in properties %}
    <div class="col-3">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">
                <a href="#">{{ property.title }}</a>
                </h5
            </div>
        </div>
</div>
</div>
</div>
{% endblock %}