{% extends "base.html.twig" %}

{% block body %}

<div class="container">
    <h1>Editer le bien</h1>
    {{ form_start(form) }}
    {{ form_rest(form) }} 
    button.btn btn
    {{ form_end(form) }} 

</div>

{% endblock %}
