{% extends "base.html.twig" %}

{% block body %}

<div class="container">
    <h1>Editer le bien</h1>
    {{ form_start(form) }}
    {{ form_(form) }} 
    {{ form_start(form) }} 
</div>

{% endblock %}
