{% extends 'base.html.twig' %}

{% block title 'Gérer les biens' %}

{% block body %}
   <div class="container mt-4">
   
    <h1>Gérer les biens</h1>

    <table class="table table-striped">
    <thead>
    <tr>
    <th>Titre</th>
    <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    {% for property in properties %}
    {% endfor %}
    <tr>
    <td></td>
    <td></td>
    </tr>
    </tbody>
    </table>
   </div>    
        </div>
    </div>
{% endblock %}