{% extends "base.html.twig" %}

{% block title 'Tous nos biens' %}

{% block body %}
    <div class="jumbtoron text-center">

        <h1>bienvenue sur la home</h1>  
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed ipsam repellat nam labore dolore ad natus explicabo vero velit ea deleniti eveniet ipsa, architecto nihil.</p>
    </div>
    <div class="container">
    </div>
{% endblock %}