{% extends 'base.html.twig' %}

{% block title 'Gérer les biens' %}

{% block body %}
   .container
        {% for property in properties %}
        {% endfor %}
        </div>
    </div>
{% endblock %}