{% extends 'base.html.twig' %}

{% block title 'Gérer les biens' %}

{% block body %}
   <div class="container mt-4">
   
    <h1>Gérer</h1>

   </div>
        {% for property in properties %}
        {% endfor %}
        </div>
    </div>
{% endblock %}