{% extends 'base.html.twig' %}

{% block title 'Gérer les biens' %}

{% block body %}
   <div class="container mt-4">
   
    <h1>Gérer les biens</h1>


   </div>    
        </div>
    </div>
{% endblock %}