{% extends 'base.html.twig' %}

{% block title 'Tous nos biens' %}

{% block body %}
    <div class="container mt-4">
        <h1>Voir tous nos biens</h1>

{% for property in properties %}
    {% include "property/_property.html.twig" %}
{% endfor %}
</div>  
{% endblock %}