{% extends 'base.html.twig' %}

{% block title property.title %}

{% block body %}
    <div class="container mt-4">
        <div class="row">
            <div class="col-md-8">

            </div>
            <div class="col-md-4">
            <h1>{{ property.title }}</h1>
            <h2>{{ property.rooms }} pièces - {{ property.surface}} m2</h2>
            <div class="text-primary" style="font-size: 4rem;font-weight: bold;">{{ property.formattedPrice }} €</div>
            <a href="#" class="btn btn-primary"></a>
            </div>
        </div>
    </div>
{% endblock %}
