{% extends 'base.html.twig' %}

{% block title property.title %}

{% block body %}
    <div class="container mt-4">
    <div class="row">
    div.col-md-8
    </div>
        <h1>{{ property.title }}</h1>
    </div>
{% endblock %}
